In [1]:
import pandas

In [2]:
df = pandas.read_csv("data.csv")

In [3]:
df

,X1,X2,X3,M,TS00,TO00,TS01,TO01,TS02,TO02,...,TS10,TO10,TS11,TO11,TS12,TO12,TS13,TO13,TS14,TO14
0,-1.25,-0.88,2,14,14:00,22:27,18:00,14:37,13:00,09:39,...,10:00,21:29,10:00,08:47,15:00,10:06,10:00,09:14,NaN,NaN
1,-0.14,-3.21,0,1,17:00,17:11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.23,0.08,3,1,19:00,09:22,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.38,-1.30,3,2,12:00,12:38,08:00,09:04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.50,0.22,2,6,14:00,21:59,11:00,17:01,15:00,23:47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,-0.53,-3.02,0,3,08:00,08:37,11:00,11:00,08:00,08:15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,-1.37,0.71,3,7,07:00,07:16,20:00,20:05,11:00,12:42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,-1.27,-0.70,3,11,10:00,10:01,16:00,16:24,12:00,12:49,...,09:00,09:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,-0.62,2.95,1,4,07:00,09:07,08:00,21:46,09:00,09:33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,0.23,0.50,2,2,10:00,06:54,13:00,09:16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
!jt -l

/bin/sh: jt: command not found

In [5]:
!ls

Untitled.ipynb   data.csv         ml-timping.ipynb
Untitled1.ipynb  data.zip

In [10]:
!conda install -y jupyterthemes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/dimson/anaconda/envs/ml_timing

  added / updated specs:
    - jupyterthemes


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    cycler-0.10.0              |             py_2           9 KB  conda-forge
    jupyterthemes-0.20.0       |             py_0         6.1 MB  conda-forge
    kiwisolver-1.1.0           |   py37ha1b3eb9_0          56 KB  conda-forge
    lesscpy-0.13.0             |             py_1          35 KB  conda-forge
    matplotlib-3.1.2           |           py37_1           7 KB  conda-forge
    matplotlib-base-3.1.2      |   py37h11da6c2_1         6.6 MB  conda-forge
    ply-3.11                   |             py_1          44 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        12.9 MB

The following NEW packages will be INSTALLED:

  cycler             conda-forge/noarch::cycler-0.10.0-py_2
  jupyterthemes      conda-forge/noarch::jupyterthemes-0.20.0-py_0
  kiwisolver         conda-forge/osx-64::kiwisolver-1.1.0-py37ha1b3eb9_0
  lesscpy            conda-forge/noarch::lesscpy-0.13.0-py_1
  matplotlib         conda-forge/osx-64::matplotlib-3.1.2-py37_1
  matplotlib-base    conda-forge/osx-64::matplotlib-base-3.1.2-py37h11da6c2_1
  ply                conda-forge/noarch::ply-3.11-py_1
  pyparsing          conda-forge/noarch::pyparsing-2.4.5-py_0



Downloading and Extracting Packages
jupyterthemes-0.20.0 | 6.1 MB    | ##################################### | 100%
lesscpy-0.13.0       | 35 KB     | ##################################### | 100%
ply-3.11             | 44 KB     | ##################################### | 100%
matplotlib-3.1.2     | 7 KB      | ##################################### | 100%
cycler-0.10.0        | 9 KB      | ##################################### | 100%
matplotlib-base-3.1. | 6.6 MB    | ##################################### | 100%
kiwisolver-1.1.0     | 56 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [11]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [ ]:
from torch.utils.data import Dataset