In [8]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

,X1,X2,X3,M,TS00,TO00,TS01,TO01,TS02,TO02,...,TS10,TO10,TS11,TO11,TS12,TO12,TS13,TO13,TS14,TO14
0,-1.25,-0.88,2,14,14:00,22:27,18:00,14:37,13:00,09:39,...,10:00,21:29,10:00,08:47,15:00,10:06,10:00,09:14,NaN,NaN
1,-0.14,-3.21,0,1,17:00,17:11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.23,0.08,3,1,19:00,09:22,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.38,-1.30,3,2,12:00,12:38,08:00,09:04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.50,0.22,2,6,14:00,21:59,11:00,17:01,15:00,23:47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
is_missing = df.isna().values
nulls = np.where(is_missing.any(1), is_missing.argmax(1), np.nan)
nulls = nulls.astype('int')

In [124]:
data = []
for i in range(len(df)):
    features = (df.loc[i][0:3].values)
    opens = (df.iloc[i,4:nulls[i]][1::2].values)
    sents = (df.iloc[i,4:nulls[i]][::2].values)
    data.append(np.array([features, opens, sents]))

In [154]:
data[0:3]

[array([array([-1.25, -0.88, 2], dtype=object),
        array(['22:27', '14:37', '09:39', '11:58', '07:47', '21:27', '09:57',
        '20:13', '19:39', '15:42', '21:29', '08:47', '10:06', '09:14'],
       dtype=object),
        array(['14:00', '18:00', '13:00', '17:00', '11:00', '18:00', '14:00',
        '19:00', '14:00', '18:00', '10:00', '10:00', '15:00', '10:00'],
       dtype=object)], dtype=object),
 array([array([-0.14, -3.21, 0], dtype=object),
        array(['17:11'], dtype=object), array(['17:00'], dtype=object)],
       dtype=object),
 array([array([1.23, 0.08, 3], dtype=object),
        array(['09:22'], dtype=object), array(['19:00'], dtype=object)],
       dtype=object)]

In [153]:
data = np.array(data)

ValueError: could not broadcast input array from shape (3,3) into shape (3)

In [137]:
from pathlib import Path

In [138]:
path = Path()

In [144]:
cwd = str(path.cwd())

In [146]:
cwd

'C:\\Users\\Connor\\Documents\\Modelling\\Timing model\\Data'

In [148]:
np.save(cwd, data)

ValueError: could not broadcast input array from shape (3,3) into shape (3)

In [155]:
[1,3,4] + [10,10]

[1, 3, 4, 10, 10]